@font-face {
    font-family: JenrivRegular;
    src: url("/src/assets/Jenriv.otf");
  }
@font-face {
    font-family: JenrivItalic;
    src: url('/src/assets/JenrivItalic.otf');
}
@font-face{
    font-family: D;
    src: url('/src/assets/D.ttf');
}

.body-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

body {
    background-color: #dbe8f8
}
#intro{
    margin-top: 10vh;
    text-indent: 10vw;
    font-family: Jenriv;
    font-size: 2vh;
    margin-inline: 11vw;
    color:mintcream;
  }

#introD{
  border-bottom:0.4vw, inset, maroon;
}

  #description{
    text-indent: 10vw;
    font-family: Jenriv;
    font-size: 2vh;
    color:mintcream;
  }

  #textBox{
    width: 80vw;
    border: 0.85vw inset maroon;
    background:rgba(150, 100, 100, 0.699);
    padding: 1vw;
  }
  #titleBox{
    background:rgba(150, 100, 100, 0.699);
    width: 33vw;
    margin-left: 33vw;
    
  }
  #box{
    background:rgba(150, 100, 100, 0.699);
    width: 33vw;

  }
  #ContainerTitleBox{
    margin-left: 23vw;
    background:rgba(150, 100, 100, 0.699);
    width: 33vw;
  }
  #lucir
  {
    max-height: 50vh;
    max-width: 50vw;
    height: auto;
    width: auto;
    margin-bottom:1 0vh;
  }
  #welcomeTo
  {
    margin-top: 20vh;
    margin-bottom:7vh;
    font-style:italic;
    font-size: 7vh;
    color:mintcream;
    font-family:D;
  }
  h1{
    font-family: D;
    margin-top: 5vh;
    text-align:center;
    color:mintcream;
    font-style:italic;
}
#about{
  font-size: 20vh;
}
#thanksmessage{
    text-indent:92px;
    margin-inline: 90px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    text-align:center;
    color:rgb(122, 122, 131);
  }
#companyphoto{
    
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: inline;
     margin: 0 5px;
  }

  #subtext{
            font-size: 14px;
      margin-left: 21.2vw;
      margin-right: auto;
  }
  #bottomtext{
    text-align: center;
    color:rgb(58, 29, 26);
    bottom:0px;
  }
  #aboutImages{
    margin-top: 1vh;
    display: inline-block;
    border: 1vw inline #555;
  }
  #palm1{
    width: 13vw;
    display: inline;
    margin-bottom: 6vh;
    margin-right: 5vw;
  }
  #palm2{
    width: 13vw;
    display: inline;
    margin-bottom: 6vh;

    transform: scaleX(-1);
    margin-left: 5vw;

  }
  #contact{
    font-size: 19px;
    font-family:Jenriv;
    text-align:center;
    color:rgb(0, 0, 0);
  }
  #navElement{
      font-family: Jenriv;
  }