@font-face {
    font-family: JenrivRegular;
    src: url("/src/assets/Jenriv.otf");
  }
@font-face {
    font-family: JenrivItalic;
    src: url('/src/assets/JenrivItalic.otf');
}
@font-face{
    font-family: D;
    src: url('/src/assets/D.ttf');
}

.body-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  object-fit: contain;
}

body {
    background-color: #dbe8f8
}
#intro{
    margin-top: 10vh;
    text-indent: 10vw;
    font-family: Jenriv;
    font-size: 2vh;
    margin-inline: 11vw;
    color:mintcream;
  }

#introD{
  border-bottom:0.4vw, inset, maroon;
}

  #description{
    text-indent: 10vw;
    font-family: Jenriv;
    font-size: 2vh;
    color:mintcream;
  }

  #spacer{
    padding-bottom: 100px;
  }

  #textBox{
    width: 80vw;
    border: 0.85vw inset maroon;
    background:rgba(150, 100, 100, 0.699);
    padding: 1vw;
  }

  #textBox-mobile{
    width: 80vw;
    border: 0.85vw inset maroon;
    background:rgba(6, 9, 204, 0.699);
    padding: 1vw;
  }
  #freeTextBox{
    width: 90vw;
    margin-inline: 5vw;
    border: 0.65vw inset maroon;
    background:rgb(233, 189, 189);
  }
  #titleBox{
    background:rgb(233, 189, 189);
    width: 33vw;
    margin-left: 33vw;
  }
  #box{
    background:rgb(233, 189, 189);
    width: 33vw;
    margin-left: 33vw;
    margin-top: 8vh;
  }

  #box-mobile{
    background:rgb(233, 189, 189);
    width: 33vw;
    margin-left: 33vw;
    margin-top: 15vh;
  }
  #ContainerTitleBox{
    margin-left: 23vw;
    background:rgba(230, 125, 125, 0.479);
    width: 33vw;
  }
  #lucir
  {
    max-height: 50vh;
    max-width: 50vw;
    height: auto;
    width: auto;
    margin-bottom:1 0vh;
  }
  #welcomeTo
  {
    margin-top: 20vh;
    margin-bottom:7vh;
    font-style:italic;
    font-size: 7vh;
    color:mintcream;
    font-family:D;
  }
  h1{
    font-family: D;
    margin-top: 5vh;
    text-align:center;
    color:mintcream;
    font-style:italic;
}
#about{
  font-size: 20vh;
}
#thanksmessage{
  text-indent: 10vw;
  font-family: Jenriv;
  font-size: 2vh;
  margin-inline: 11vw;
  color:mintcream;
  }
#companyphoto{
    height: 36vw;
    margin-left: auto;
    margin-right: auto;
    display: inline;
     margin: 0 5px;
  }

#companyphoto-mobile{
  position: absolute;
  top: 250px;
  align-items: center;
  height: 70vw;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

  #subtext{
      font-size: 14px;
      margin-left: 21.2vw;
      margin-right: auto;
  }

  #aboutImages{
    margin-top: 1vh;
    display: inline-block;
    border: 1vw inline #555;
  }
  #palm1{
    width: 13vw;
    display: inline;
    margin-bottom: 6vh;
    margin-right: 2vw;
  }

  #palm1-mobile{
    margin-top: 80vh;
    width: 13vw;
    display: inline;
    margin-bottom: 6vh;
    margin-right: 2vw;
  }
  #palm2{
    width: 13vw;
    display: inline;
    margin-bottom: 6vh;

    transform: scaleX(-1);
    margin-left: 2vw;
  }

  #palm2-mobile{
    width: 13vw;
    display: inline;
    margin-bottom: 6vh;

    transform: scaleX(-1);
    margin-left: 2vw;
  }
  #contact{
    font-size: 19px;
    font-family:Jenriv;
    text-align:center;
    color:rgb(0, 0, 0);
  }
  #navElement{
      font-family: Jenriv;
  }